{{ define "body_classes" }}page-home{{ end }}

{{ define "main" }}
<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        <h1><font color="#f24088">S</font>i<font color="#f24088">g</font>apore’s <font color="#f24088">C</font>limate <font color="#f24088">A</font>rtificia<font color="#f24088">L</font> intelligence <font color="#f24088">E</font>ngine</h1>
        {{ .Content }}
        {{ if .Site.Params.homepage.show_contact_box }}
        {{ partial "call.html" (dict "site" .Site "context" . "show_button" "true") }}
        {{ end }}
      </div>
      {{ if .Params.intro_image }}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt={{ .Title }}
          class="intro-image{{ if .Params.intro_image_absolute }} intro-image-absolute{{ end }}{{ if .Params.intro_image_hide_on_mobile }} {{ end }}"
          src="{{ .Params.intro_image | relURL }}" />
      </div>
      {{ end }}
      <link rel="stylesheet" href="/css/bg.css">
      <script type="text/javascript">
        window.onload = function() {
          Particles.init({
            selector: '.background',
            connectParticles: "true",
            color: '#ff69b4',
            maxParticles:'50',
            sizeVariations:"4",
            speed:"0.8"
            
          });
        };
    
       </script>
      {{ partial "background.html" . }}

    </div>
  </div>
</div>

{{ $research := where (where .Site.RegularPages "Type" "mainpage") ".Params.featured" true }}
{{if gt (len $research) 0}}
<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      {{ range first 6 (sort $research ".Params.weight") }}
      <div class="col-12 col-md-6 mb-2">
        {{ .Render "summaryresearch" }}
      </div>
      {{ end }}
    </div>
    {{ if .Site.Params.homepage.show_research_button }}
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "mainpage/" | relURL }}">View All research</a>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{end}}

{{if .Site.Data.features}}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">
      {{ range .Site.Data.features }}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {{ if .image }}
          <div class="feature-image"><img width="100" height="100" alt="{{ .Title }} logo"
              src="{{ .image | relURL }}" /></div>
          {{ end }}
          <h2 class="feature-title">{{ .title }}</h2>
          <div class="feature-content">
            <p><a href="{{.webpage}}">{{ .description }}</a></p>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</div>
{{end}}

{{ end }}

{{ define "footer_js" }}
{{ end }}
