<div class="flex flex-col justify-center h-full py-12">
  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
    <div class="w-full text-center sm:text-0.9 sm:w-3/4 py-12 sm:px-8">
      <h1 class="tracking-wide text-purple-600 text-2xl mb-6">Climate Models</h1>
      <h2 class="font-light text-black text-xl">Global climate models (GCMs) under Coupled Model Intercomparison
            Project 6 (CMIP6) have been widely used to investigate climate change impacts and put forward associated adaptation and
            mitigation strategies. However, the relatively coarse spatial resolutions (usually 100~300km) preclude their direct applications
            in regional scales, where the analysis (e.g., hydrological model simulation) is applied. To bridge this gap, a typical approach is
            to ‘refine’ the information from GCMs through regional climate downscaling experiments, which can be conducted statistically, dynamically,
            or a combination thereof. Statistical downscaling establishes relationships between large-scale climate indicators and small-scale climate
            variables in the reference (historical) period. Subsequently, these relationships are kept unchanged in the future and used to predict the future
            variables. On the other hand, dynamical downscaling operates based on the physical processes and the associated interactions in the climate systems
            and thus can produce a full set of regional climate simulations (e.g., temperature and precipitation fields) that are dynamically consistent.
            However, traditional dynamical downscaling contains significant biases that are transferred from GCMs and may be enhanced during the process of
            downscaling, thus degrading the downscaled results. One approach to remove these biases is the hybrid statistical-dynamical downscaling, where
            GCMs are firstly bias corrected, and subsequently used as lower and lateral boundary conditions to drive the regional climate models (RCMs).</h2>
    </div>
    <div class="w-full sm:w-1/2">
      <img src="/img/dats_pdf.hist.png" alt="AWE.SOME header">
    </div>
  </div>
</div>
<div class="flex flex-row w-full justify-center pb-12">
  <a class="px-10 py-2 text-gray-200 bg-purple-600 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red"
    href="#about">More Information</a>
</div>