<!DOCTYPE html>
<html lang="en">

  <style>
    table, td, th {  
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  }
  
  table {
  border-collapse: collapse;
  width: 100%;
  }
  
  th, td {
  padding: 15px;
  }
  </style>

<body class='page page-default-single'>
 
  <table style="width:100%">
       
    <tr>

      <th>        </th>
      <th>Rainfall</th>
      <th>Temperature</th>
      <th>Winds</th>
      <th>Specific humidity</th>
    </tr>
    <tr>

      <td>Domain (Resolution)</td>
      <td colspan="4">Great Southeast Asia (62.5km); Southeast Asia (12.5km); Southern Malay Peninsula (2.5km); Singapore (500m) </td>
    </tr>
    <tr>
      <td>MPI-ESM1-2-LR</td>
      <td>Running</td>
      <td>SSP585(2081-2100)</td>
      <td>SSP126,245,585</td>
    </tr>
    <tr>
      <td>EC-Earth3-Veg</td>
      <td>Preparing</td>
      <td>No</td>
      <td>SSP126,245,585</td>
    </tr>
    <tr>
      <td>FGOALS-f3-L</td>
      <td>Preparing</td>
      <td>No</td>
      <td>SSP126,245,585</td>
    </tr>
    <tr>
      <td>CESM2-WACCM</td>
      <td>Preparing</td>
      <td>No</td>
      <td>SSP126,245,585</td>
    </tr>
    <tr>
      <td>ACCESS-CM2</td>
      <td>Preparing</td>
      <td>No</td>
      <td>SSP126,245,585</td>
    </tr>
    <tr>
      <td>CanESM5</td>
      <td>Preparing</td>
      <td>No</td>
      <td>SSP126,245,585</td>
    </tr>
  </table>

</body>

</html>
