<!DOCTYPE html>
<html lang="en">

  <style>
    table, td, th {  
  border: 2px solid #000000;
  border-top: 2px solid #000000;
  text-align: center;  
  }
  
  table {
  border-collapse: collapse;
  width: 100%;
  z-index: 100;
  margin: 0 auto;
  }
  
  th, td {
  padding: 15px;
  }
  </style>
  <link rel="stylesheet" href="/css/style.min.fa99e0c3f94cbdef123818bedef9060705925598356be6808bfc07abc4b45225.css">
<body class='page page-default-single'>
 
  <table style="width:100%">
       
    <tr>

      <th>        </th>
      <th>Rainfall</th>
      <th>Temperature</th>
      <th>Winds</th>
      <th>Specific humidity</th>
    </tr>
    <tr>

      <td>Domain (Resolution)</td>
      <td colspan="4">Great Southeast Asia (62.5 km), Southeast Asia (12.5 km), Southern Malay Peninsula (2.5 km), Singapore (500 m) </td>
    </tr>
    <tr>
      <td>Models</td>
      <td colspan="4">ERA5, MPI-ESM1-2-LR, EC-Earth3-Veg, FGOALS-f3-L, CESM2-WACCM, ACCESS-CM2, CanESM5 </td>
    </tr>
    <tr>
      <td>Temporal resolution</td>
      <td colspan="4">ERA5 (3 hourly at 45 vertical levels and surface level), GCMs (6 hourly at 35 vertical levels and hourly at surface level ) </td>
    </tr>
    <tr>
      <td>Scenarios</td>
      <td colspan="4">Historical, SSP126, SSP245, SSP585 </td>
    </tr>
    <tr>
      <td>Finished</td>
      <td colspan="4">ERA5 (1981-2020), MPI-ESM1-2-LR (2041-2060,2081-2100), MPI-ESM1-2-LR (2061-2080:d01-d02) </td>
    </tr>
    <tr>
      <td>Ongoing</td>
      <td colspan="4">MPI-ESM1-2-LR (2061-2080:d03 and d04) </td>
    </tr>   
  </table>

</body>

</html>
