<!DOCTYPE html>
<html lang="en">

  <style>
    table, td, th {  
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  }
  
  table {
  border-collapse: collapse;
  width: 100%;
  }
  
  th, td {
  padding: 15px;
  }
  </style>

<body class='page page-default-single'>
 
  <table style="width:100%">
       
    <tr>

      <th>        </th>
      <th>Rainfall</th>
      <th>Temperature</th>
      <th>Winds</th>
      <th>Specific humidity</th>
    </tr>
    <tr>

      <td>Domain (Resolution)</td>
      <td colspan="4">Great Southeast Asia (62.5km), Southeast Asia (12.5km), Southern Malay Peninsula (2.5km), Singapore (500m) </td>
    </tr>
    <tr>
      <td>Models</td>
      <td colspan="4">ERA5, MPI-ESM1-2-LR, EC-Earth3-Veg, FGOALS-f3-L, CESM2-WACCM, ACCESS-CM2, CanESM5 </td>
    </tr>
    <tr>
      <td>Scenarios</td>
      <td colspan="4">Historical, SSP126, SSP245, SSP585 </td>
    </tr>
    <tr>
      <td>Finished</td>
      <td colspan="4">ERA5 (1981-2020), MPI-ESM1-2-LR (2081-2100)) </td>
    </tr>
  </table>

</body>

</html>
